{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Sign Up{% endblock title %}
{% block description %}Sign up for a free account with Kamaiti{% endblock description %}
{% block currentpagehome %}{% endblock currentpagehome %}
{% block currentpagetellmemore %}{% endblock currentpagetellmemore %}
{% block currentpagesignup %}current{% endblock currentpagesignup %}
{% block currentpagelogin %}{% endblock currentpagelogin %}
{% block pageheader %}Sign Up{% endblock pageheader %}
{% block pagecontent %}
<!-- search section
 ================================================== -->
<div id="search-section" class="container">
    
    
    <div class="grid4 a-left first">
        <p>What Are You Waiting For?</p>
    </div>
    
    <div class="grid8 a-right">
        <p class="continue cf"><a class="button" href="/sign-up/">Sign Up</a> &nbsp; <a class="button" href="/log-in/">Log In</a></p>
    </div>
</div>
{% endblock pagecontent %}